<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Schedule</title>
    <link href="/css/event-schedule.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="table-container">
        <div class="header">Schedule</div>
        <div class="day-container">
            <div class="label-day">Monday</div>

            <!-- first row-->
            <div class="split-label time">8:00am</div>
            <div class="split-label event">Sign-in</div>

            <!-- second row-->
            <div class="split-label time">9:00am</div>
            <div class="split-label event">Sign-in again!</div>

            <!-- third row-->
            <div class="split-label time">10:00am</div>
            <div class="split-label event">Hacking starts! .. . .. . . .. . . . . . . .</div>
        </div>
        <div class="day-container">
            <div class="label-day">Tuesday</div>

            <!-- first row-->
            <div class="split-label time">8:00am</div>
            <div class="split-label event">Breakfast</div>

            <!-- second row-->
            <div class="split-label time">4:03am</div>
            <div class="split-label event">I'm sleepy</div>
        </div>

        <pre>



        </pre>
        <div class="header">More TBD...</div>
    </div>
</body>
</html>