<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plants LOL</title>
    <!--im gonna write inline css for this one-->
    <style>
        #plants-pic {
            background-image: url("../res/plantspic.jpg");
            color: white;
            padding: 15px 25px;
        }
    </style>
</head>
<body>
<div id="plants-pic">
    This is just some random text that I will replace later. I am adding this because it felt really awkward to go straight into faq from event timeline
</div>
</body>
</html>