<html>
<head>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>GenHacks Sponsorship Prospectus</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142125117-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-142125117-1');
    </script>
    <style>
        html, body{
            margin: 0;
        }
        embed{
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>
    <embed src="https://drive.google.com/viewerng/viewer?embedded=true&url=https://genhacks.tech/pdf/GenHacks-Sponsorship-Prospectus-23June.pdf">
</body>
</html>