@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");
:root {
  --text-select-color: rgba(100, 100, 100, 0.7);
}

html, body {
  font-family: "Kanit", sans-serif;
  overflow-x: hidden;
  height: 100%;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
}

.landing-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  position: relative;
  overflow: hidden;
}
.landing-hero::before {
  background-image: url("../res/backdrop-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  content: "";
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  will-change: transform;
  z-index: -1;
}

.hackathon-signup {
  padding-top: 20px;
  margin-bottom: 4px;
  font-size: 34px;
}
.hackathon-signup a {
  color: #9ee0a7;
  text-decoration: none;
}
.hackathon-signup a:hover {
  color: #c5edca;
}
.hackathon-signup .underline {
  text-decoration: none;
  position: relative;
}

.headline {
  opacity: 0;
  color: #319b3f;
  padding-left: 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.headline::selection {
  background: var(--text-select-color);
}

.headline::-moz-selection {
  background: var(--text-select-color);
}

.actual-content {
  background-image: linear-gradient(to bottom, #d8f3dc, #b1e7b9);
  height: fit-content;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -khtml-user-select: none;
}

.container-arrow {
  display: none;
}

.hackathon-time {
  font-size: 23px;
}

.hackathon-name {
  font-weight: bolder;
  font-size: 60px;
  letter-spacing: 2px;
  line-height: 75px;
  text-indent: -15px;
  padding-left: 30px;
  padding-bottom: 10px;
}

.underline:after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: 0px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 90%;
  background: #9ee0a7;
}

.table-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  height: fit-content;
  padding: 75px 15px 0px 15px;
  font-size: 50px;
}

.header {
  flex: 1 100%;
  font-size: 1.2em;
}

.label-day {
  flex: 1 100%;
  font-size: 0.9em;
}

.day-container {
  flex: 1 100%;
  display: flex;
  flex-wrap: wrap;
}

.split-label {
  font-size: 0.5em;
}

.event-container {
  flex: 1 100%;
  display: flex;
}

.event {
  position: relative;
  margin-bottom: 1em;
  width: fit-content;
}

.event-name-container {
  text-align: center;
  display: flex;
  justify-content: center;
  flex: 1 50%;
}

.time {
  padding-right: 0.15em;
  flex: 1 50%;
}

.event:after {
  position: absolute;
  content: "";
  height: 2px;
  display: inline-table;
  bottom: 0px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 75%;
  background-color: #969696;
}

#loadOverlay {
  display: none;
}

.faq-container {
  text-align: center;
  font-size: 50px;
  display: flex;
  padding: 10px 15px 100px 15px;
  flex-wrap: wrap;
}

.qa-container {
  padding: 10px;
  margin: 4px;
  background-color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.question {
  font-weight: bolder;
  font-size: 0.55em;
}

.answer {
  width: 100%;
  font-size: 0.35em;
  color: #0c0c0c;
}

.mapouter {
  display: none;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 250px;
  width: 100%;
}

.subcontainer-faq {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#header-faq {
  font-size: 1em;
}

.copyright-notice {
  font-family: serif;
  font-size: 0.5em;
  text-align: center;
  padding-bottom: 1px;
}

@media only screen and (min-width: 768px) {
  .copyright-notice {
    font-size: 0.55em;
  }

  .landing-hero {
    align-items: center;
  }

  .scroll-down {
    border: solid #969696;
    border-width: 0 2.5px 2.5px 0;
    display: inline-block;
    width: 7px;
    height: 7px;
    position: relative;
    top: -2.4px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .container-arrow {
    display: unset;
    font-size: 15px;
    color: #969696;
    position: relative;
    top: 26.1vh;
  }

  .container-arrow:hover {
    cursor: pointer;
    color: #afafaf;
  }

  *.hackathon-signup {
    padding-top: 45px;
  }
  *.hackathon-signup a {
    letter-spacing: 0.4px;
    font-size: 33px;
  }
  *.hackathon-signup .underline:after {
    position: absolute;
    content: "";
    height: 2px;
    bottom: 0px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 40%;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  *.hackathon-signup .underline:hover:after {
    width: 80%;
    background: #c5edca;
  }

  .headline {
    padding-left: 0;
  }

  .hackathon-name {
    line-height: unset;
    font-size: 75px;
    text-indent: unset;
    padding: unset;
  }

  .hackathon-time {
    line-height: unset;
    text-indent: unset;
    font-size: 25px;
  }

  .landing-hero::before {
    background-image: url("../res/backdrop.jpg");
    background-color: rgba(10, 10, 15, 0.7);
    background-blend-mode: darken;
    background-position: center top;
  }

  .spacer-vertical {
    flex: 1 100%;
    height: 100px;
  }

  .table-container {
    text-align: center;
    padding: 100px 15px;
  }

  .spacer {
    flex: 1 calc(20% / 3);
  }

  .time {
    padding-right: 0.4rem;
    text-align: right;
  }

  .event {
    text-align: left;
  }

  .day-container {
    flex: 1 40%;
    height: fit-content;
    align-self: flex-start;
  }

  .label-day {
    flex: 1 100%;
    font-size: 0.9em;
    padding-bottom: 20px;
  }

  .event-name-container {
    padding-left: 0.4rem;
    justify-content: unset;
  }

  .event:after {
    margin: unset;
  }

  .subcontainer-faq {
    flex: 1 50%;
  }

  .qa-container {
    min-height: 100px;
  }

  .mapouter {
    display: unset;
    position: relative;
    text-align: right;
    height: 250px;
    width: 100%;
  }
  .mapouter a {
    display: none;
  }

  #header-faq {
    padding-bottom: 10px;
  }
}

/*# sourceMappingURL=content.css.map */
