@import url("https://fonts.googleapis.com/css?family=PT+Sans|Rubik&display=swap");
@font-face {
  font-family: "lemon-milk";
  font-style: normal;
  font-weight: bold;
  src: url("/font/LemonMilkbold.eot");
  /* IE9 Compat Modes */
  src: url("/font/LemonMilkbold.eot") format("embedded-opentype"), url("/font/LemonMilkbold.woff") format("woff"), url("/font/LemonMilkbold.ttf") format("truetype"), url("/font/LemonMilkbold.svg") format("svg");
  /* Legacy iOS */
}
:root {
  --text-select-color: rgb(176, 235, 176);
  --overall-background-color: #b0ebb5;
  --text-font-color: #393939;
  --title-font: "PT Sans", sans-serif;
  --text-font: "Rubik", sans-serif;
}

div {
  color: var(--text-font-color);
}

.stay-together {
  display: block;
}

html, body {
  font-family: var(--text-font);
  overflow-x: hidden;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--overall-background-color);
}

.container {
  width: 100%;
  height: 100%;
}

.landing-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  position: relative;
  overflow: hidden;
}
.landing-hero::before {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  will-change: transform;
  z-index: -1;
}

.hackathon-signup {
  margin-bottom: 4px;
  font-size: 34px;
}
.hackathon-signup a {
  color: var(--text-font-color);
  text-decoration: none;
}
.hackathon-signup a:hover {
  color: #252525;
  background-color: rgba(126, 204, 131, 0.78);
}

.headline {
  opacity: 0;
  color: var(--text-font-color);
  padding-left: 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

::selection {
  background: var(--text-select-color);
}

::-moz-selection {
  background: var(--text-select-color);
}

.actual-content {
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -khtml-user-select: none;
}

.container-arrow {
  display: none;
}

.hackathon-time {
  font-size: 23px;
}

.hackathon-name {
  font-family: lemon-milk, serif;
  font-weight: bold;
  font-size: 55px;
  letter-spacing: 2px;
  line-height: 75px;
  text-indent: -15px;
  padding-left: 30px;
  padding-bottom: 10px;
}

.table-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  height: fit-content;
  padding: 0 14vw;
  font-size: 50px;
}

.header {
  font-family: var(--title-font);
  flex: 1 100%;
  font-size: 50px;
}

.header-two {
  flex: 1 100%;
  font-size: 30px;
}

.label-day {
  flex: 1 100%;
  font-size: 0.7em;
}

.day-container {
  flex: 1 100%;
  display: flex;
  flex-wrap: wrap;
}

.split-label {
  font-size: 0.5em;
}

.event-container {
  flex: 1 100%;
  display: flex;
}

.event {
  position: relative;
  margin-bottom: 1em;
  width: fit-content;
}

.event-name-container {
  width: 10vw;
  text-align: center;
  display: flex;
  justify-content: center;
  flex: 1 50%;
}

.time {
  padding-right: 0.15em;
  flex: 1 50%;
}

#loadOverlay {
  display: none;
}

.faq-container {
  text-align: center;
  font-size: 50px;
  display: flex;
  padding: 0 15px;
  flex-wrap: wrap;
}
.faq-container a:any-link {
  color: var(--text-font-color);
}
.faq-container a:hover {
  color: #336b29;
}

.qa-container {
  padding: 10px;
  margin: 4px;
  background-color: #D8F6C3;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.question {
  font-weight: bolder;
  font-size: 0.55em;
}

.answer {
  text-align: left;
  font-size: 0.35em;
  padding: 12px;
  color: var(--text-font-color);
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 250px;
  width: 100%;
}

.subcontainer-faq {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.copyright-notice {
  z-index: 1000;
  color: var(--text-font-color);
  padding: 10px;
  font-size: 0.5em;
  text-align: center;
  font-weight: bold;
}

.section-spacer {
  display: block;
  height: 75px;
}

.about-container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.person-container {
  width: 160px;
  height: fit-content;
  padding: 0 5px 5px 5px;
}

.person-portrait {
  width: 100%;
  height: 190px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -o-object-fit: cover;
  object-fit: cover;
}

.person-name {
  font-size: 0.55em;
  font-weight: bold;
}

.person-role {
  font-size: 0.45em;
}

.sponsors-container {
  display: flex;
  text-align: center;
}

.about-us-container {
  text-align: center;
}

.hackathon-logo {
  display: none;
}

#header-about {
  padding-bottom: 8px;
}

.bottom-bar {
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom-bar i {
  padding: 5px;
}
.bottom-bar a {
  color: unset;
  text-decoration: none;
}

.not-an-actual-class {
  float: left;
}

#header-faq {
  padding-bottom: 8px;
}

.fab {
  color: var(--footer-content-color);
}

@media only screen and (min-width: 768px) {
  #header-faq {
    padding-bottom: 20px;
  }

  .copyright-notice {
    font-size: 0.55em;
  }

  .landing-hero {
    align-items: center;
  }

  .scroll-down {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .scroll-down-display {
    border: solid #4e4e4e;
    border-width: 0 2.5px 2.5px 0;
    width: 15px;
    height: 15px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .container-arrow {
    display: unset;
    font-size: 15px;
    color: var(--text-font-color);
    position: absolute;
    top: 83vh;
  }

  .container-arrow:hover {
    cursor: pointer;
    color: #4d4d4d;
  }

  .person-portrait {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }

  *.hackathon-signup {
    margin-top: 70px;
  }
  *.hackathon-signup a {
    background-color: #81d185c7;
    padding: 8px 15px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    letter-spacing: 0.4px;
    font-size: 25px;
  }

  .headline {
    padding-left: 0;
    z-index: 1000;
  }

  .hackathon-name {
    line-height: unset;
    font-size: 75px;
    text-indent: unset;
    padding: unset;
  }

  .hackathon-time {
    line-height: unset;
    text-indent: unset;
    font-size: 25px;
  }

  .spacer-vertical {
    flex: 1 100%;
    height: 100px;
  }

  .table-container {
    text-align: center;
  }

  .spacer {
    flex: 1 calc(20% / 3);
  }

  .time {
    padding-right: 0.4rem;
    text-align: left;
  }

  .event {
    text-align: left;
  }

  .day-container {
    flex: 1 40%;
    height: fit-content;
    align-self: flex-start;
    margin-right: 3.8vw;
  }

  .label-day {
    font-weight: bolder;
    flex: 1 100%;
    font-size: 0.55em;
    padding-bottom: 20px;
    z-index: 1000;
  }

  .event-name-container {
    padding-left: 0.4rem;
    justify-content: unset;
  }

  .subcontainer-faq {
    flex: 1 50%;
  }

  .qa-container {
    z-index: 1000;
    min-height: 100px;
    margin-bottom: 24px;
  }

  .mapouter {
    display: unset;
    position: relative;
    text-align: right;
    height: 250px;
    width: 100%;
  }

  .section-spacer {
    height: 85px;
  }

  .faq-container {
    padding: 0 14vw;
  }

  .about-container {
    padding: 0 14vw;
    align-self: center;
    max-width: 900px;
  }

  .stay-together {
    display: unset;
  }

  .about-us-container {
    display: flex;
    flex-wrap: wrap;
    z-index: 1000;
    padding: 0 14vw;
  }

  .leaf-image {
    width: 35px;
    height: 35px;
    position: absolute;
    background: url("/res/android-chrome-192x192.png");
    background-size: 100% 100%;
    z-index: 10;
    opacity: 0;
  }

  .hackathon-logo {
    z-index: 2000;
    height: 70px;
    position: fixed;
    top: 40px;
    left: 40px;
    display: flex;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: var(--overall-background-color);
  }

  .hackathon-logo:hover {
    cursor: pointer;
    height: 72px;
    top: 39px;
    left: 39px;
  }

  .bottom-bar {
    background-image: url("/res/footer.png");
    background-position: center;
    padding-bottom: 45px;
  }
  .bottom-bar a {
    z-index: 1000;
  }

  .event-container {
    z-index: 1000;
  }

  .text-content {
    font-size: 25px;
    padding-bottom: 30px;
    z-index: 1000;
  }

  .header {
    z-index: 1000;
  }

  .header-two {
    z-index: 1000;
    padding-bottom: 10px;
  }

  .site-spacer {
    height: 3vh;
  }

  .person-container {
    z-index: 1000;
    padding: 5px 10px 10px 10px;
  }

  .question {
    padding-bottom: 4px;
  }

  .left-faq .qa-container {
    margin-right: 30px;
  }

  .right-faq .qa-container {
    margin-left: 30px;
  }

  #header-about {
    padding-bottom: 12px;
  }

  #about-header {
    padding-bottom: 10px;
  }

  .spacer-horizontal {
    flex: 1 20%;
  }

  .split-label {
    display: flex;
  }

  .time-container {
    flex: 1 50%;
  }

  #tuesday-container {
    margin-right: unset;
    margin-left: 3.8vw;
  }

  .not-an-actual-class {
    float: none;
  }
}

/*# sourceMappingURL=content.css.map */
